.main-navigation {
  display: flex;
  margin-bottom: 20px;
  padding: 6px;
}

.main-header {
  font-family: 'Gochi Hand', cursive;
  font-size: 0;
  color: #fff;
  background-color: #c00;
}

.main-header h1 {
  margin-left: 20px;
}

.main-header ul {
  margin-left: auto;
  margin-right: 20px;
}

.main-header li {
  display: inline;
  padding-left: 20px;
}

.main-header a {
  text-decoration: none;
  color: inherit;
  font-size: 34px;
}

.main-header li a {
  font-size: 24px;
}